<app-header></app-header>
<div class="wrap">
    <div class="container">
        <div class="site-index">
            <h1>Система online бронирования услуг<br/>для корпоративных клиентов GLOBAL AIR</h1>
            <div class="body-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-left-main col-sm-12 col-xs-12">
                            <div class="tab-left-1">Работаем<br/>с 2000 года</div>
                            <div class="tab-left-2">8 офисов в 7 городах Казахстана</div>
                            <div class="tab-left-3">Более 700 корпоративных клиентов</div>
                        </div>
                        <div class="slide col-sm-12 col-xs-12"><img src="../assets/image/slide01.jpg" class="img-responsive" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 article-home">
                        <h3>Преимущества ETS:</h3>
                    </div>
                    <div class="col-lg-4 article-home">
                    </div>
                    <div class="col-lg-4 article-home">
                        <h3>Хочу начать работать<br/>в системе ETS:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 article-home">
                        <div class="article-item-home tickets">Специальные цены на авиа и железнодорожные билеты для вашей компании.</div>
                        <div class="article-item-home checklist">Возможность устанавливать права доступа и лимиты для отдельных сотрудников и отделов.</div>
                        <div class="article-item-home payment">Вы можете использовать несколько методов оплаты: с депозита, по счету, картами и в терминалах.</div>
                    </div>
                    <div class="col-lg-4 article-home">
                        <div class="article-item-home pc">Интуитивно понятный личный кабинет для управления бронированиями.</div>
                        <div class="article-item-home bell">Уведомления настраиваемые на события: регистрация, создание бронирования, наступление таймлимита и т.д.</div>
                        <div class="article-item-home chart">Предоставление всей необходимой аналитической информации по вашим поездкам.</div>
                    </div>
                    <div class="col-lg-4 article-home">
                        <app-feedback></app-feedback>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>