<app-header></app-header>
<div class="wrap">
    <div class="container">
    	<div class="site-about">
    		<h1>
    			О компании
    		</h1>
    		<p>
    			Туристическая компания GLOBAL AIR – AMERICAN EXPRESS является профессиональным травел агентом в сфере делового, международного и внутреннего туризма, как для компаний,так и для отдельных туристов, предлагая уникальный и индивидуальный тур продукт, поскольку учитывает именно Ваши запросы.
    		</p>
    		<p>
    			Миссия компании в организации комфортных путешествий в любой уголок планеты.
    		</p>
    		<p>
    			История GLOBAL AIR – AMERICAN EXPRESS начинается в 2000 году. Получив аккредитацию IATA (Международной Авиа Транспортной Ассоциации) в 2002 году,была признана лидирующей компанией <strong>по организации деловых и туристических поездок по Казахстану и Средней Азии</strong>,в 2006 году компания получила сертификат Системы менеджмента Качества ISO 9001, и является единственной из туроператоров Казахстана, получившей международный сертификат Системы качества ISO-9001-2001.
    		</p>
    		<p>
    			На сегодняшний день GLOBAL AIR – AMERICAN EXPRESS в числе почётных членов Казахстанской Туристской Ассоциации (КТА) и Европейской Ассоциации Бизнесменов (Eurobak),
    			а также назначена эксклюзивным партнером American Express Business Travel – одной из крупнейших в мире сетей тур.агентств с филиалами более чем в 140 странах.
    		</p>
    		<p>
    			Подобное партнёрство объединяет глобальные силы, мировой опыт и масштаб со знаниями местного рынка путешествий для предоставления особых привилегий клиентам,
    		    обеспечивая глобально-стабильное высокое качество услуг и консультаций.
    		</p>
    		<p>
    			Опыт компании, совмещенный с использованием передовых технологий, позволяют предоставлять нестандартные решения высококвалифицированные услуги и одновременно минимизировать затраты клиентов.
    		</p>
    		<p>
    			В основе концепции бизнеса компании GLOBAL AIR – AMERICAN EXPRESS лежит принцип Travel Management, который воплощен в жизнь, в первую очередь, через квалификацию персонала,
    		    о чем свидетельствует сертифицированный штат сотрудников в системах IATA, Amadeus, Galileo, а также множество наград и отзывов в адрес агентства от авиакомпаний и экспертов.
    		</p>
    		<p>
    			<u>Наши преимущества:</u>
    		</p>
    		<ul>
    		    <li>Стабильная компания с 18 летним опытом работы в индустрии туризма;</li>
    		    <li>Принадлежность к мировой цепи AMERICAN EXPRESS, что дает возможность предоставления специальных тарифов во многих странах мира, а также поддержку на всем маршруте следования пассажиров;</li>
    		    <li>Филиальная сеть офисов и имплантов по Казахстану в таких городах как: Алматы, Астана, Актау, Атырау, Аксай, Актобе, Шымкент, Уральск;</li>
    		    <li>Надёжная партнерская сеть с первичными поставщиками услуг по всему миру, возможность предоставлять услуги оперативно;</li>
    		    <li>Информационная поддержка через 24/7 Call Center;</li>
    		    <li>Англоговорящий сертифицированный персонал компании;</li>
    		    <li>Высокие стандарты сервиса (наличие международных сертификатов и наград в отрасли);</li>
    		    <li>Клиентская база более 350 международных и национальных компаний;</li>
    		    <li>Бесплатная доставка авиа и ж/д билетов по Казахстану, консультационные услуги.</li>
    		</ul>
    		<p>Стремление к совершенствованию в деятельности компании сквозь годы остается неизменным!</p>
    	</div>
    </div>
</div>
